<script>
import { computed, reactive, ref } from '@vue/reactivity'
import axios from "axios"
export default {
 setup(){

  // 標籤
  const tags = reactive(['休閒', '比賽', '合照', '個人照', '其他'])
  // 下拉選單
  const select = reactive({tag:'請選擇則標籤'})
  // 圖片搜尋結果名稱
  const pictures = reactive({data:[]})
  // 圖片網址
  const pictures_url = computed( () => {
    if (pictures.data.length > 0){
      const url_arr = []
      pictures.data.forEach(element => {
        let url = "http://127.0.0.1:8000/storage/1204/" + element
        url_arr.push(url)
      })
      return url_arr
    }
  })
  // 新圖片狀態
  const new_picture_status = ref(false)
  // 已新增的圖片
  const new_picture = reactive({url: null, tag:null})

  // 目前檔案
  let file = null;

  // 上傳檔案
  const uploadFile = (e) => {
    file = e.target.files[0];      
  }

  // 傳出檔案
  const sendfFile = () =>{
    if (file != null){
        const form = new FormData;
        form.append('file', file);
        axios.post('http://127.0.0.1:8000/api/getpictures', form)
        .then((res) => {
          new_picture.url = 'http://127.0.0.1:8000/storage/1204/' + res.data.name
          new_picture.tag = res.data.tag
          new_picture_status.value = true
        })
    }
  }

  // 搜尋
  const search = () =>{
    if (select.tag != '請選擇則標籤'){
      axios.get("http://127.0.0.1:8000/api/getpictures"
      ,{params:{tag:select.tag}})
      .then((res) => {
        pictures.data = res.data
      })
    }
  }

   

  return { tags, select, pictures_url, search, uploadFile, sendfFile, new_picture, new_picture_status }
 }
}
</script>

<template>
  <div class="home">
    <div class="features">
      <div class="search">
        <select v-model="select.tag">
          <option disabled="value">請選擇則標籤</option>
          <option v-for="item in tags" :key=item :value="item">{{item}}</option>
        </select>
        <div class="button" @click="search()">搜尋</div>
      </div>
      <div class="add_picture">
        <div class="upload_frame">
          <input type="file" @change="uploadFile">
          <div class="button" @click="sendfFile()">上傳</div>
        </div>
        <div class="new_picture_frame" v-if="new_picture_status">
          <img :src=new_picture.url>
          <div class="tag">標籤:{{new_picture.tag}}</div>
        </div>
      </div>
    </div>
    <div class="pictures_frame">
      <img  v-for="item in pictures_url" :key=item :src=item>
    </div>
  </div>
</template>


<style lang="scss" scoped>
.home{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  >.features{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 35%;
    >.search{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 1%;
      border-style: solid;
      width: 30%;
      margin-top: 3%;
      margin-left: 5%;
      >select{
        width: 50%;
        height: 15%;
        font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
        outline:none;
        font-size: 20px;
        border-radius:10px;
        color: #60666d;
      }
      >.button{
        text-align: center;
        width: 15%;
        height: 30px;
        line-height: 30px;
        margin-left: 5%;
        border-radius: 10px;
        background-color: lightblue;
        color: #000;
        font-weight: bold;
        cursor: pointer;
      }
    }
    >.add_picture{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 1%;
      border-style: solid;
      width: 50%;
      margin-top: 3%;
      margin-left: 5%;
      >.upload_frame{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 50%;
        height: 100%;
        >.button{
          text-align: center;
          width: 15%;
          height: 30px;
          line-height: 30px;
          margin-left: 5%;
          border-radius: 10px;
          background-color: lightblue;
          color: #000;
          font-weight: bold;
          cursor: pointer;
        }
      }
      >.new_picture_frame{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 50%;
        height: 100%;
        >img{
          width: 70%;
          height: 100%;
          border-radius: 5px;
        }
        >.tag{
          width: 30%;
          text-align: center;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }
  >.pictures_frame{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
    height: 57%;
    overflow: auto;
    >img{
      width: 30%;
      height: 50%;
      margin: 1%;
      border-radius: 5px;
    }
  }
}

</style>